In [1]:
print("Hola mundo")

Hola mundo

In [3]:
##Variables Primitivas
entero = 3  # dar dos espacion para escribir un comentario en la misma linea 
decimal = 1.1  # un espacion de separacion cuando inicializas una varialbe -> X = 1
nombre = "Luis" 
segundo_nombre = 'Enrique'
casado = False
estudiante = True
hijos = None # ojo!!!
print(type(entero))
print(type(decimal))
print(type(nombre))
print(type(segundo_nombre))
print(type (casado))
print(type(estudiante))
print(type(hijos))
"""
hola papu soy un comentario
"""

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>

In [8]:
print(entero)
entero = decimal
entero = hijos
entero = nombre
print(entero)

Luis
Luis

In [24]:
# Condicion (Boolean)
#Truty
#Falsy
tuplas = ()
listas = []
diccionario = {}
print(type(tuplas))
print(type(listas))
print(type(diccionario))

if(""): # Falsy
    print("Truty")
else:
    print("Falsy")
    
if("algo"): # Truty
    print("Truty")
else:
    print("Falsy")
    
if(0): # Falsy
    print("Truty")
else:
    print("Falsy")

if(-1): # Truty
    print("Truty")
else:
    print("Falsy")
    
if(1): # Truty
    print("Truty")
else:
    print("Falsy")
    
if(0.00): # Falsy
    print("Truty")
else:
    print("Falsy")
    
if(0.000001): # Truty
    print("Truty")
else:
    print("Falsy")
    
if(None): # Falsy
    print("Truty")
else:
    print("Falsy")
    
if(()): # Falsy
    print("Truty")
else:
    print("Falsy")
    
if((1,2)): # Truty
    print("Truty")
else:
    print("Falsy")

if([]): # Falsy
    print("Truty")
else:
    print("Falsy")

if(["1","2","3"]): # Truty
    print("Truty")
else:
    print("Falsy")

if({}): # Falsy
    print("Truty")
else:
    print("Falsy")
    
if({nombre:"Luis"}): # Truty
    print("Truty")
else:
    print("Falsy")

<class 'tuple'>
<class 'list'>
<class 'dict'>
Falsy
Truty
Falsy
Truty
Truty
Falsy
Truty
Falsy
Falsy
Truty
Falsy
Truty
Falsy
Truty

In [41]:
arreglo = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
arreglo[2]
arreglo[2:5]  #Filtra ([2,5[)
arreglo[2:]
arreglo[:7]
arreglo[:-1]
arreglo[-8:-1]
arreglo[-9:]
arreglo[:-2]
arreglo[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
# Operador que encuentra al menos uno 
print(type(7 in arreglo))
print(7 in arreglo)

<class 'bool'>
False

In [46]:
len(arreglo)  # 10 elementos

10

In [52]:
#a√±adir algo al arreglo
#arreglo.append(11)
#arreglo.pop()
arreglo.insert(1, 1.1)  # insert(posicion,valor)
arreglo

[1, 1.1, 1.1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 11]

In [3]:
#for numero in arreglo:
     #print(numero)
    
contador = 0
while contador < 10:
    print(contador)
    contador+= 1

0
1
2
3
4
5
6
7
8
9

In [4]:
tupla_numeros = (1, 2, 3, 4, 5)
tupla_numeros

(1, 2, 3, 4, 5)

In [8]:
tupla_numeros[2]  # se puede filtrar, pero no cambiar elementos de las tuplas
tupla_numeros[0:3]  # las tuplas con constantes, las listas pueden cambiar
len(tupla_numeros)
3 in tupla_numeros

True

In [19]:
#  diccionarios
luis = {
    1231: "Luis",
    'apellido':'',
    'edad':30,
    False:0.1,
    "hijos":None,
    "casado": False
    'mascotas':[{'hola','chao'}]
}

In [26]:
luis["apellido"] = "Velasquez"
luis["apellido"]
#luis["mascotas"][0]["hola"]
luis.keys()
luis.values()
"apellido" in luis.keys()
"apellido" in luis.values()

False

In [28]:
1 == 1 or 2 == 3
1 == 1 and 2 == 3

False